<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Libreria
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Libreria</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- <div>
    <h1 class="titulo">Titulo: {{titulo}}</h1>
    <p>Autor: {{autor}}</p>
  </div> -->
  
  <ion-list>
    <ion-item>
      <ion-input label="Input Title Book" placeholder="Introduce title"></ion-input>
      <ion-input label="Input Autor" placeholder="Introduce autor"></ion-input>
    </ion-item>
  </ion-list>
    
  <ion-button shade="round" (click)="gotoMyLibros()">Muestra libros</ion-button>
  <ion-button shade="round" (click)="gotoAddBook()">Añadir libro</ion-button>
</ion-content>
